<head>
    <title>New Post - WDWD?</title>
</head>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand lato" href="/">WDWD?</a>
        </div>

        <div class="collapse navbar-collapse lato" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/about">About</a></li>
                <li><a href="/community">Community</a></li>
                <li><a href="/search">Search</a></li>
                {{#if user}}
                    <li class="active"><a href="/newpost">New Post<span class="sr-only">(current)</span></a></li>
                    <li><a href="/user/{{user.id}}">Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                {{else}}
                    <li><a href="/login">Login</a></li>
                {{/if}}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="col-xs-1 col-md-2"></div>
<div class="col-xs-10 col-md-8">
    <h2 class="center lato">
        New Post
        <br /><br />
        <form method="post" action="/newpost">
            {{#if title}}
            <input name="title" type="text" class="lato form-control" value="{{title}}"/>
            {{else}}
            <input name="title" type="text" class="lato form-control" placeholder="Title"/>
            {{/if}}
            <br />
            {{#if contents}}
            <textarea name="contents" rows=8 cols=20 class="lato form-control">{{contents}}</textarea>
            {{else}}
            <textarea name="contents" rows=8 cols=20 class="lato form-control" placeholder="How can we help?"></textarea>
            {{/if}}
            <br />
            {{#if tags}}
            <input name="tags" type="text" class="lato form-control" value="{{tags}}"/>
            {{else}}
            <input name="tags" type="text" class="lato form-control" placeholder="Up to 5 tags - separate with spaces!"/>
            {{/if}}
            <br /><br />
            <input type="submit" class="btn btn-primary lato"/>
        </form>
    </h2>
    {{#if message}}
        <h4 class="center lato">
            <br />
            {{message}}
        </h4>
    {{/if}}
</div>
<div class="col-xs-1 col-md-2"></div>
